.formulario{
    margin-top: 2%;
    font-size: 30px;
}
.dimensiones{
    width: 600px;
    margin-left: 30%;
    text-align: center;
    margin-bottom: 30px;
    border: 1px black solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.dimensiones h3{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 40px;
}
.dimensiones input{
    border-radius: 20px;
    margin-bottom: 10px;
}
.dimensiones .btn-generales{
    background-color: transparent;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 40px;
    padding: 10px;
    border-radius: 30px;
}
.dimensiones .btn-generales:hover{
color: white;
background-color: black;
}